alias ll='ls -lah --color'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

#alias sss='doas shutdown -p now'
#alias rrr='doas shutdown -r now'

alias sw='sway -c ~/.config/sway/config'
