/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: red;
  }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: transparent;
  color: white;
  font-family: SF Compact Display, Cantarell, Noto Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#backlight,
#pulseaudio,
#wireplumber,
#temperature,
#tray {
  padding-left: 4px;
  padding-right: 4px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
  font-weight: bold;
}

#clock {
  font-weight: bold;
}

/*:active {
}*/

#cpu.warning {
  color: orange;
}

#cpu.critical {
  color: red;
}

#memory.warning {
  color: orange;
}

#memory.critical {
  color: red;
  font-weight: bold;
}

#mode {
  background: #485460;
  border-top: 2px solid white;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
}

#network {
  /* No styles */
}

#network.disconnected {
  color: orange;
}

#pulseaudio {
  /* No styles */
}

#pulseaudio.muted {
  /* No styles */
}

#temperature {
  /* No styles */
}

#temperature.critical {
  color: red;
  font-weight: bold;
}

#tray {
  /* No styles */
}

#workspaces button {
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 4px;
  font-weight: bold;
  /* To compensate for the top border and still have vertical centering */
  padding-left: 8px;
  padding-right: 8px;
  color: #d2dae2;
  background-color: #1e272e;
}

#workspaces button:hover {
  color: #1e272e;
  background-color: #d2dae2;
}

#workspaces button.active {
  color: white;
  background-color: #485460;
}

#workspaces button.urgent {
  color: #576574;
  background-color: #ee5253;
}

#custom-taskwarrior {
  padding-left: 4px;
  padding-right: 2px;
}

#custom-taskthisweek {
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
}

#custom-taskoverdue {
  padding-left: 2px;
  font-weight: bold;
}
